

  <form class='form'>
    <input type="text" name="search_terms", placeholder="What are you looking for?" value="<%=@search_terms%>">

    <input type="submit" value="Submit" class="button">
  </form>