

  <form class='form'>
    <input type="text" name="search", placeholder="What are you looking for?" value="<%=@search%>">

    <input type="submit" value="Submit" class="button">
  </form>

   <form class='form'>
        <input type="text" name="search", class="search-bar", size="60" placeholder="Venue, Artist, Date" value="<%=@search%>">

        <input type="submit" value="Submit" class="btn btn-primary btn-lg">
  </form>


  <% @search_results.map do |results| %>
  <%= results %>
  <% end %>