

  <form class='form'>
    <input type="text" name="search", placeholder="What are you looking for?" value="<%=@search%>">

    <input type="submit" value="Submit" class="button">
  </form>



  <% @search_results.map do |results| %>
  <%= results %>
  <% end %>