@import "bootstrap-sprockets";
@import "bootstrap";

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #1673E6;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

form {
  padding: 30px;
}

.search-bar {
    padding: 14px 24px;
    color: #000;
}

.accessible-options {
    padding: 40px 40px;
    font-size: 20px;
    color: #000;

}